<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiafish.mapper.AdminMapper">
    <select id="list" resultType="com.xiafish.pojo.User">
        select *
        from xiafish.user
        <where>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="userName != null">and user_name like concat('%',#{userName},'%') </if>
            <if test="userGender != null">and user_gender = #{userGender} </if>
            <if test="userPhoneNum != null">and user_phone_num = #{userPhoneNum} </if>
            <if test="userEmail != null">and user_email = #{userEmail} </if>
            <if test="userPasswd != null">and user_passwd = #{userPasswd} </if>
            <if test="userStatus != null">and user_status = #{userStatus} </if>
            <if test="userPhoto != null">and user_photo = #{userPhoto} </if>
            <if test="userCampus != null">and user_campus = #{userCampus} </if>
            <if test="userNickname != null">and user_nickname like concat('%',#{userNickname},'%') </if>
            <if test="userProfile != null">and user_profile = #{userProfile} </if>
        </where>
    </select>
    <delete id="deleteUser">
        delete from xiafish.user
        <where>
        <if test="ids != null and ids.size() > 0">
            user_id in
            <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        </where>
    </delete>
    <insert id="addUser" parameterType="com.xiafish.pojo.User">
        INSERT INTO user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userName != null">user_name,</if>
            <if test="userGender != null">user_gender,</if>
            <if test="userPhoneNum != null">user_phone_num,</if>
            <if test="userEmail != null">user_email,</if>
            <if test="userPasswd != null">user_passwd,</if>
            <if test="userStatus != null">user_status,</if>
            <if test="userPhoto != null">user_photo,</if>
            <if test="userCampus != null">user_campus,</if>
            <if test="userNickname != null">user_nickname,</if>
            <if test="userProfile != null">user_profile,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userName != null">#{userName},</if>
            <if test="userGender != null">#{userGender},</if>
            <if test="userPhoneNum != null">#{userPhoneNum},</if>
            <if test="userEmail != null">#{userEmail},</if>
            <if test="userPasswd != null">#{userPasswd},</if>
            <if test="userStatus != null">#{userStatus},</if>
            <if test="userPhoto != null">#{userPhoto},</if>
            <if test="userCampus != null">#{userCampus},</if>
            <if test="userNickname != null">#{userNickname},</if>
            <if test="userProfile != null">#{userProfile},</if>
        </trim>
    </insert>
    <update id="updateUser" parameterType="com.xiafish.pojo.User">
        UPDATE user
        <set>
            <if test="userName != null">user_name = #{userName},</if>
            <if test="userGender != null">user_gender = #{userGender},</if>
            <if test="userPhoneNum != null">user_phone_num = #{userPhoneNum},</if>
            <if test="userEmail != null">user_email = #{userEmail},</if>
            <if test="userPasswd != null">user_passwd=#{userPasswd},</if>
            <if test="userStatus != null">user_status=#{userStatus},</if>
            <if test="userPhoto != null">user_photo = #{userPhoto},</if>
            <if test="userCampus != null">user_campus = #{userCampus},</if>
            <if test="userNickname != null">user_nickname = #{userNickname},</if>
            <if test="userProfile != null">user_profile = #{userProfile},</if>
        </set>
        WHERE user_id = #{userId}
    </update>
    <select id="getOrder" resultType="com.xiafish.pojo.ReturnOrder">
        select o.*,buyer.user_name as buyerName,seller.user_name as sellerName
        from xiafish.`order` o
        left join xiafish.user buyer on o.buyer_id = buyer.user_id
        left join xiafish.user seller on o.seller_id = seller.user_id
        <where>
            <if test="buyerId != null">buyer_id = #{buyerId}</if>
            <if test="sellerId != null">and seller_id = #{sellerId}</if>
            <if test="begin != null">and order_date_time &gt;= #{begin}</if>
            <if test="end != null">and order_date_time &lt;= #{end}</if>
        </where>
    </select>
</mapper>